[submodule "admin-module"]
	path = protos/admin-module-src
	url = git@github.com:neutron-org/admin-module.git
[submodule "block-sdk"]
	path = protos/block-sdk-src
	url = git@github.com:skip-mev/block-sdk.git
[submodule "cosmos-sdk"]
	path = protos/cosmos-sdk-src
	url = git@github.com:neutron-org/cosmos-sdk.git
[submodule "feemarket"]
	path = protos/feemarket-src
	url = git@github.com:skip-mev/feemarket.git
[submodule "ibc-go"]
	path = protos/ibc-go-src
	url = git@github.com:cosmos/ibc-go.git
[submodule "neutron"]
	path = protos/neutron-src
	url = git@github.com:neutron-org/neutron.git
  branch = test/move-to-sovereign
[submodule "slinky"]
	path = protos/slinky-src
	url = git@github.com:skip-mev/slinky.git
[submodule "wasmd"]
	path = protos/wasmd-src
	url = git@github.com:neutron-org/wasmd.git
[submodule "interchain-security"]
	path = protos/interchain-security-src
	url = git@github.com:cosmos/interchain-security.git
