# We use npm, not yarn
yarn.lock

node_modules/

/protos/admin-module
/protos/block-sdk
/protos/cosmos-sdk
/protos/feemarket
/protos/ibc-go
/protos/neutron
/protos/connect
/protos/wasmd

/build/
/capability/
/cosmos/
/cosmos_proto/
/cosmwasm/
/feemarket/
/gaia/
/gogoproto/
/google/
/ibc/
/neutron/
/osmosis/
/sdk/
/connect/
/tendermint/
/binary.*
/helpers.*
/index.*
/utf8.*
/varint.*
/querier_types.*

# IDEs
.vscode/

# macOS
.DS_Store
.idea
